<a href="https://colab.research.google.com/github/nath9alves/Programacao_em_Python_SENAI-Suico_Brasileiro/blob/main/Aula_Python%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabalhando Repetição com o Laço while

In [ ]:
# Exemplo de laço com while

print(' Início do Programa! ')

controle = 1    # Inicializando a variável controle

while controle < 10:
    print(f' O valor da variável agora é: {controle}')    # vai dar 9
    controle += 1  # Atualizando a variável controle


print('Fim do Programa...')

 Início do Programa!
 O valor da variável agora é: 1
 O valor da variável agora é: 2
 O valor da variável agora é: 3
 O valor da variável agora é: 4
 O valor da variável agora é: 5
 O valor da variável agora é: 6
 O valor da variável agora é: 7
 O valor da variável agora é: 8
 O valor da variável agora é: 9
Fim do Programa...

# Algo à ser Evitado: Loop Infinito!

In [ ]:
# Laço sem saída

texto = 'Olá Mundo'

while texto == 'Olá Mundo':
    print(texto)

# Exemplo de while com nº Par

In [ ]:
# Exemplo de uso do laço while

print('Início do Programa...')

contador = 0    # Inicializa a variável

while contador < 20:
    if contador % 2 == 0:    # Imprime somente os números pares de 0 até 20.
        print(contador)
    contador += 1

print('\nFim do Programa...')

# Exemplo de while com nº Impar

In [ ]:
print('Início do Programa...')

contador = 0    # Inicializa a variável

while contador < 20:
    if contador % 2 != 0:    # Imprime somente os números ímpares de 0 até 20.
        print(contador)
    contador += 1

print('\nFim do Programa...')

# Interrompendo um Laço com break

In [ ]:
# Exemplo de interrupção de um laço

for numero in range(10):
    if numero % 2 != 0:
        print(numero)
        break    # break quebra o laço

1

# Interrompendo um Laço com continue

In [ ]:
# Exemplo de interrupção com continue

for y in range(10):
    print(y)

for x in range(10):
    if x == 1 or x == 8:
        continue    # continue pula o laço
    print(x)

# Teste de Mesa

> Realizado ✅

# Estruturas Complexas em Python - CONTAINERS

> Tuplas

> Listas

> Dicionários

# Crie uma Tupla com os Seguintes Elementos:


*   Donuts
*   Sonho
*   Pretzel
*   Chocolate
*   Bala de Goma

In [ ]:
# @title Uma tupla de exemplo

diabetes = ('Donuts', 'Sonho', 'Pretzel', 'Chocolate', 'Bala de Goma')
           #    0        1         2           3             4
           #    -5      -4        -3          -2            -1
print(diabetes)

('Donuts', 'Sonho', 'Pretzel', 'Chocolate', 'Bala de Goma')

In [ ]:
total = len(diabetes)
print(total)
print(f'A tupla diabetes tem {total} elementos')

5
A tupla diabetes tem 5 elementos

In [ ]:
# Acessando um elemento da tupla

doce = diabetes[3]    # posição 0,1,2,3
print(doce)

Chocolate

In [ ]:
delicia = diabetes[-1]
print(delicia)

Bala de Goma

In [ ]:
print(diabetes)

('Donuts', 'Sonho', 'Pretzel', 'Chocolate', 'Bala de Goma')

In [ ]:
# Acessando um elemento inexistente

naotem = diabetes[5]
print(naotem)

IndexError: tuple index out of range

# Tuplas são Imutáveis

In [ ]:
# Tuplas são imutáveis

print(diabetes)

diabetes[0] = 'Muffin'

print(diabetes)

('Donuts', 'Sonho', 'Pretzel', 'Chocolate', 'Bala de Goma')

TypeError: 'tuple' object does not support item assignment

# Operações em Tuplas - Iterar Pelos Elementos

In [ ]:
doces =('sonho','sonho','sonho','sonho','sonho', 'confete', 'bis','bis', 'sorvete', 'pubim', 'chiclete', 'manjar')

# print(type(doces))

for doce in doces:
    print(f'Esse {doce} é muito bom!')

Esse sonho é muito bom!
Esse sonho é muito bom!
Esse sonho é muito bom!
Esse sonho é muito bom!
Esse sonho é muito bom!
Esse confete é muito bom!
Esse bis é muito bom!
Esse bis é muito bom!
Esse sorvete é muito bom!
Esse pubim é muito bom!
Esse chiclete é muito bom!
Esse manjar é muito bom!

In [ ]:
# Exemplo de como alterar os elementos da tupla

print(f'Diabetes original é: {diabetes}')
print()
diabetes = ('Muffin', 'Donuts', 'Pretzel', 'Chocolate', 'Bala de Goma')
print(f'Diabetes alterado é: {diabetes}')

Diabetes original é: ('Donuts', 'Sonho', 'Pretzel', 'Chocolate', 'Bala de Goma')

Diabetes alterado é: ('Muffin', 'Donuts', 'Pretzel', 'Chocolate', 'Bala de Goma')

# Operações em Tuplas - Ordenar os Elementos - Sort

In [ ]:
print(doces)
print(doces[-7])
print(doces[0])

('sonho', 'confete', 'bis', 'sorvete', 'pubim', 'chiclete', 'manjar')
sonho
sonho

In [ ]:
# @title Exemplo de como Ordenar uma Tupla

print('Bom dia, humano\n')

candy = sorted(doces)    # função que ordena a tupla doces

print(f'A tupla original é {doces}')
print(f'A tupla ordenada é {candy}')

print('\nbye, humano.')

Bom dia, humano

A tupla original é ('sonho', 'confete', 'bis', 'sorvete', 'pubim', 'chiclete', 'manjar')
A tupla ordenada é ['bis', 'chiclete', 'confete', 'manjar', 'pubim', 'sonho', 'sorvete']

bye, humano.

In [ ]:
# Exemplo de ordenação com números

megasena = (45, 34, 1, 7, 19, 50)    # Não pode conter 0 antes do número, pois o python entende que num literal inteiro não é permitido

print(megasena)

ordenada = sorted(megasena)    # Ordenou em ordem crescente
print(ordenada)
#

(45, 34, 1, 7, 19, 50)
[1, 7, 19, 34, 45, 50]

In [ ]:
pokenom = ('45', '34', '1', '7', '19', '50')

estranho = sorted(pokenom)    # Como trata-se de texto, não se considera um valor numérico, mas sim como um alfabeto
print(estranho)

['1', '19', '34', '45', '50', '7']

# Operações em Tuplas - Contar os Elementos

In [ ]:
# Exemplo de contagem de elementos em uma tupla

print('Início do programa...\n')

print(doces)

qualdoce = input('Digite o doce da tupla que vc quer: ')

contagem = doces.count(qualdoce)

print(f'{qualdoce} foi encontrado {contagem} vez/vezes em doces')

print('\nFim do programa...')

Início do programa...

('sonho', 'sonho', 'sonho', 'sonho', 'sonhoconfete', 'bis', 'bis', 'sorvete', 'pubim', 'chiclete', 'manjar')
Digite o doce da tupla que vc quer: sonho
sonho foi encontrado 4 vez/vezes em doces

Fim do programa...

# Operações em Tuplas - Indexar um Elemento

In [ ]:
print(doces)

('sonho', 'sonho', 'sonho', 'sonho', 'sonhoconfete', 'bis', 'bis', 'sorvete', 'pubim', 'chiclete', 'manjar')

In [ ]:
# Exemplo de código que indexa um elemento na tupla.

print('Início\n')

sobremesa = doces[7]    # escolhendo o elemento de índice 6

ondesta = doces.index(sobremesa)

print(f'O doce {sobremesa} está no índice {ondesta} da tupla')

print('\nFim...')

Início

O doce bis está no índice 6 da tupla

Fim...

# Juntando Tudo: Repetição e Tuplas

# Crie um programa que itera por todos os elementos de uma tupla e exibe cada elemento e a sua posição na tupla.

In [ ]:
# Exemplo de código com repetição e operação em tuplas

print('Início\n')

docinhos = ('chocolate', 'beijinho', 'bala', 'maria_mole')

for doce in docinhos:
    print(f'O doce {doce} está no índice {docinhos.index(doce)}')

print('\nFim...')

Início

O doce chocolate está no índice 0
O doce beijinho está no índice 1
O doce bala está no índice 2
O doce maria_mole está no índice 3

Fim...

In [ ]:
# Outra forma:

doces = ('pirulito', 'chocolate', 'chiclete', 'dadinho', 'bananinha')

for docinhos in doces:
    onde = doces.index(docinhos)
    print(f'O doce {docinhos} está no índice {onde}')

O doce pirulito está no índice 0
O doce chocolate está no índice 1
O doce chiclete está no índice 2
O doce dadinho está no índice 3
O doce bananinha está no índice 4

# Outras Operações com Tuplas

In [ ]:
# exemplo de outras operações

print('Início...\n')

batman = ('a', 'b', 'c', 'd')
robin = ('a', 'b', 'e', 'f')

gotham = batman + robin
print(gotham)

gotham2 = robin + batman
print(gotham2)

coringa = batman * 2
print(coringa)

gordon = batman[1] * 3
print(gordon)

print('\nFim...')

Início...

('a', 'b', 'c', 'd', 'a', 'b', 'e', 'f')
('a', 'b', 'e', 'f', 'a', 'b', 'c', 'd')
('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')
bbb

Fim...

# Tuplas Englobam Dados Diferentes

In [ ]:
# @title Um Container Diferente

print('Início...\n')

pessoa = ('Zeruela', 'M', 53, 1.62, 85, True)
print(pessoa)

alienigena = ('Klingon', 'M', 46, 2.5, 210, False)
print(alienigena)

del(alienigena)

print('\nFinal...')

Início...

('Zeruela', 'M', 53, 1.62, 85, True)
('Klingon', 'M', 46, 2.5, 210, False)

Final...

In [ ]:
print(alienigena)

# Listas em Python

 A lista é um tipo de container que agrupa um conjunto de elementos, acessados pelo seu índice na lista.

A forma de definição é a seguinte: utilizamos colchetes ([,]) e separamos os elementos por vírgulas.

Listas são mutáveis, ou seja, após sua definição, listas podem ser modificadas.

Listas podem conter zero ou mais elementos de um mesmo tipo ou de tipos diferentes, incluindo outras listas.

In [ ]:
# @title Criando Nossa Primeira Lista

L = []    # definindo uma lista

print(f'A lista L é: {L}')

comprimento = len(L)

tipo = type(L)

print(f'O comprimento da lista L é: {comprimento}')
print(f'O tipo da variável L é: {tipo}')

A lista L é: []
O comprimento da lista L é: 0
O tipo da variável L é: <class 'list'>

In [ ]:
# Lista

F = [15, 8, 9]

len(F)

print(F[0])

F[0] = 32

print(F)

15
[32, 8, 9]

# Acessando um Elemento da Lista

In [ ]:
# Acessando um elemento da lista

print(F[0])
print(F[1])
print(F[2])

32
8
9

# Cuidado com Listas - Cópia

In [ ]:
# Cuidados com Listas - cópias

A = [1,2,3,4,5]    # criar uma nova lista

B = A    # criar uma cópia de A

print('A antes de alterar B', A )
print('B antes de alterar B', B)

B[0] = 18

print('A depois de alterar B', A )
print('B depois de alterar B', B)

A antes de alterar B [1, 2, 3, 4, 5]
B antes de alterar B [1, 2, 3, 4, 5]
A depois de alterar B [18, 2, 3, 4, 5]
B depois de alterar B [18, 2, 3, 4, 5]

# Criando uma Cópia de uma Lista - o jeito correto

In [ ]:
# Criando uma cópia de uma lista do jeito certo

C = A[:]    # O jeito certo de declarar uma cópia na lista

print('A antes de alterar C', A)
print(  'C antes de alterar C', C)

C[0] = 1000

print('A depois de alterar C', A)
print('C depois de alterar C', C)

A antes de alterar C [18, 2, 3, 4, 5]
C antes de alterar C [18, 2, 3, 4, 5]
A depois de alterar C [18, 2, 3, 4, 5]
C depois de alterar C [1000, 2, 3, 4, 5]

# Operações em Listas

In [ ]:
# @title Operações em Listas - Iterar pelos Elementos

lanche = ['Cachorro quente', 'Pipoca', 'Sorvete', 'Bolo de Pote', 'Quindim', 'Café']

print(len(lanche))

for rango in lanche:
    print(rango)

6
Cachorro quente
Pipoca
Sorvete
Bolo de Pote
Quindim
Café

Operações em Listas - Ordenar e Reverter

In [ ]:
# @title Operações em Listas - Ordenar e Reverter

coisas = [2, 3, -0.5, 45, 120, 10, 8, 8, 8]   # nossa lista de exemplo

print(f'nossa lista antes de ordenas: {coisas}\n')

coisas.sort()    # ordenou em ordem crescente

print(f'nossa lista depois de ordenas: {coisas}\n')

coisas.reverse()    # inverteu a lista

print(f'nossa lista depois de revertida: {coisas}\n')

nossa lista antes de ordenas: [2, 3, -0.5, 45, 120, 10, 8, 8, 8]

nossa lista depois de ordenas: [-0.5, 2, 3, 8, 8, 8, 10, 45, 120]

nossa lista depois de revertida: [120, 45, 10, 8, 8, 8, 3, 2, -0.5]

In [ ]:
# @title Operações em Listas - Contar

repetido = coisas.count(8)

print(repetido)

3

In [ ]:
# @title Operações em Listas - Concatenar

print(coisas)

maisitens = [9,23,-12.5, 7, 38, 19]

bando = coisas + maisitens

print(bando)

quadrilha = maisitens + coisas

print(quadrilha)

[120, 45, 10, 8, 8, 8, 3, 2, -0.5]
[120, 45, 10, 8, 8, 8, 3, 2, -0.5, 9, 23, -12.5, 7, 38, 19]
[9, 23, -12.5, 7, 38, 19, 120, 45, 10, 8, 8, 8, 3, 2, -0.5]

# Exemplo de Uso do Operador in

In [ ]:
# @title um exemplo de uso do Operador in

# O operador in é usado para verificar a existência de um item na lista

ze = [2, 1, 4, 3, 6]    # nossa lista de exemplo

if 10 in ze:
    print('O nº 4 está presente em ze')
else:
    print('O nº não está presente em ze')

O nº não está presente em ze

In [ ]:
# @title Um Exemplo com index

animais = ['cachorro', 'gato', 'macaco', 'papagaio']

indice_gato = animais.index('gato')

print(indice_gato)

indice = animais.index('cavalo')

print(indice)

1

ValueError: 'cavalo' is not in list

In [ ]:
# @title Adicionando um Elemento na Lista - append

print(maisitens)

maisitens.append(100000)    # adiciona um item á última posição da lista.

print(maisitens)    # exibe a lista atualizada

[9, 23, -12.5, 7, 38, 19, 100, 121, 320]
[9, 23, -12.5, 7, 38, 19, 100, 121, 320, 100000]

In [ ]:
# @title Adicionando um elemento a uma posção específica

print(maisitens)    #exibir a lista

maisitens.insert(2, 10)    # adicionou o nº 10 na posição 2

print(maisitens)

[5, 9, 9.5, 23, 10, 15, -12.5, 7, 38, 19, 100, 121, 320, 100000]
[5, 9, 9.5, 23, 10, 15, -12.5, 7, 38, 19, 100, 121, 320, 5, 100000]

In [ ]:
# Exemplo de Código

# Peça o número ao usuário e guarde em uma variável. Peça ao usuário a posição da lista a ser utilizada.

#Usando o método insert(), coloque o número na posição escolhida.

print('Início...\n')

if 'maisitens' in globals():
    print(maisitens)
else:
    maisitens = []
    print('maisitens not found in global scope. Initializing to []')

numero = input('Escolha um número: ')

posicao = int(float(input('Informe a posição da lista à ser utilizada: ')))

maisitens.insert(posicao, int(numero))

resultado = maisitens


print(f'Depois de inserir o valor {numero} na posição {posicao}.')
print(f'\nA minha lista ficou assim {resultado}')



print('\nFim...')

Início...

[1, 2, 5, 9, 9.5, 23, 10, 15, -12.5, 7, 38, 19, 100, 121, 320, 5, 100000]
Escolha um número: 20
Informe a posição da lista à ser utilizada: 5
Depois de inserir o valor 20 na posição 5.

A minha lista ficou assim [1, 2, 5, 9, 9.5, 20, 23, 10, 15, -12.5, 7, 38, 19, 100, 121, 320, 5, 100000]

Fim...

In [ ]:
# @title Uma Opção mais Simples com insert()

print(maisitens)

qualnumero = float(input('Digite um número: '))

lugar = int(input('Digite a posição do número: '))

maisitens.insert(lugar, qualnumero)

print(f'Depois de inserir o valor {qualnumero} na posição {lugar}.')
print(f'\nA minha lista ficou assim {maisitens}')



print('\nFim...')

[1, 2, 5, 2.0, 9, 9.5, 20, 23, 10, 15, -12.5, 7, 38, 19, 100, 121, 320, 5, 100000]
Digite um número: 0238923
Digite a posição do número: 2
Depois de inserir o valor 238923.0 na posição 2.

A minha lista ficou assim [1, 2, 238923.0, 5, 2.0, 9, 9.5, 20, 23, 10, 15, -12.5, 7, 38, 19, 100, 121, 320, 5, 100000]

Fim...

In [ ]:
# @title Fatiamento ou Slicing

print(maisitens)

novalista = maisitens[3:8]    # solicitou o nº da posição 3 até a posição 7 (nº 8 é descartado)

print(novalista)

[1, 2, 238923.0, 5, 2.0, 9, 9.5, 20, 23, 10, 15, -12.5, 7, 38, 19, 100, 121, 320, 5, 100000]
[5, 2.0, 9, 9.5, 20]

In [ ]:
# @title Remoção de Elementos - Remove, del, clear

print(maisitens)

maisitens.pop()     # o pop remove o último elemento da lista

print(maisitens)

maisitens.remove(7)    # remove a posição determinada

print(maisitens)

[1, 2, 238923.0, 5, 2.0, 9, 9.5, 20, 23, 10, 15, -12.5, 38, 19, 100, 121, 320]
[1, 2, 238923.0, 5, 2.0, 9, 9.5, 20, 23, 10, 15, -12.5, 38, 19, 100, 121]

ValueError: list.remove(x): x not in list

In [ ]:
maisitens.clear()

print(maisitens)

[]

In [ ]:
# @title Usando o Método extend

print(animais)

animais.extend(['tartaruga', 'golfinho', 'cobra'])

print(animais)

['cachorro', 'gato', 'macaco', 'papagaio']
['cachorro', 'gato', 'macaco', 'papagaio', 'tartaruga', 'golfinho', 'cobra']