# Identificando o Tipo de Dado

Como saber o tipo de dado da variável?

4, 765, -307, 1992353543.13, -0.09, 110.44, "Noel", "Olá", "SENAI", "-307"

> Adicionar aspas

In [ ]:
# @title O Código de Teste

print('4 é o do tipo...')
print(type(4))

print('-307 é o do tipo...')
print(type(-307))

print('1992353543.13 é do tipo...')
print(type(1992353543.13))

print('-0.09 é do tipo...')
print(type(-0.09))

print('110.44 é do tipo...')
print(type(110.44))

print('Noel'  ' é do tipo...')
print(type("Noel"))

print('Olá'  ' é do tipo...')
print(type('Olá'))

print('SENAI'  ' é do tipo...')
print(type('SENAI'))

print("-307'  ' é do tipo...')
print(type("-307'))    # Apresenta erro, pois o texto deve ter apenas aspas duplas ou apenas aspas simples

4 é o do tipo...
<class 'int'>
-307 é o do tipo...
<class 'int'>
1992353543.13 é do tipo...
<class 'float'>
-0.09 é do tipo...
<class 'float'>
110.44 é do tipo...
<class 'float'>
Noel é do tipo...
<class 'str'>
Olá é do tipo...
<class 'str'>
SENAI é do tipo...
<class 'str'>
-307 é do tipo...
<class 'str'>

# Outro Exemplo

In [ ]:
# @title Entendendo o Tipo de Dado Gerado Pela Função input()

obiwan = input('Digite um valor inteiro: ')    # Solicitando o número

print('Obiwan é considerado como...')
print(type(obiwan))

Digite um valor inteiro: 4
Obiwan é considerado como...
<class 'str'>

In [ ]:
# @title Entendendo o Tipo de Dado Gerado Pela Funçã input()

obiwan = input('Digite um valor inteiro: ')    # Solicitando o número

print('Obiwan é considerado como...')
print(type(obiwan))

Digite um valor inteiro: 4
Obiwan é considerado como...
<class 'str'>

In [ ]:
# @title Corrigindo o Tipo de Dado Gerado Pela Função input()

obiwan = int(input('Digite um valor inteiro: '))
print('Obiwan é considerado como...')
print(type(obiwan))

Digite um valor inteiro: 80
Obiwan é considerado como...
<class 'int'>

In [ ]:
darthvader = float(input('Digite um valor qualquer: '))
print('Obiwan é considerado como...')
print(type(darthvader))    # É considerado como tipo de dado float pois foi determinado em input como dado float
# Erro de valor pode ser apresentado caso seja escrito um texto. Exemplo: digitar "um"

In [ ]:
# @title Um Exemplo com Booleano

yoda = bool(input('Digite um valor booleano: '))    # Valor booleano vai determinar true ou false. False quando não haver conteúdo e True quando houver (qualquer nome)
print('Yoda é considerado como...')
print(yoda)

# Manipulação de Textos - Formatação

Entendendo a Concatenação

In [ ]:
rint('Olá'+'tudo'+'bem?')
print('Olá! '+'Tudo '+'bem?')     # o símbolo de + une os textos
print('Olá!', 'Tudo', 'bem?')     # NÃO é concatenação

In [ ]:
# @title Vários Jeitos de Escrita

etbilu = int(input('Digite o primeiro número inteiro: '))    # não podemos usar texto com string pois a concatenação não aceita
r2d2 = int(input('Digite o segundo número inteiro: '))

soma = etbilu + r2d2    # Operação de adição

print('A soma de etbilu e r2d2 é:', soma, '!')    # exibindo o resultado
print('A soma de', etbilu, 'e', r2d2, ' é:', soma, '!')    # diferente
print('A soma de {} e {} vale {}!', format(etbilu, r2d2, soma))
print(f'A soma de {etbilu} e {r2d2} vale {soma}!')

# Textos e Seus Segredos

In [ ]:
# @title Descobrindo Quantas Letras há na Palavra

xandao = "Supremo tribunal federal"
len(xandao)

 # :) Exercício  ☕

 > Descubra quantas letras tem em: "O rato roeu da roupa do rei" , " João tem 22 anos de idade e R$ 156,45 no bolso" e " ''(aspas vazias)

In [ ]:
rato = "O rato roeu da roupa do rei"
len(rato)

joao = "João tem 22 anos de idade e R$ 156,45 no bolso"
len(joao)
          # o resultado vai ser sempre do último
aspas = ''
len(aspas)    # aspas vazias é resultante em 0 pois não contém texto

46

# Acessando uma Letra na Frase

Acessamos um dos caracteres da frase usando os colchetes [ ] e nele o índice do caractere que queremos usar.
Assim, para acessar o elemento de índice 3 na frase usamos a seguinte forma:

nome_da_vari_ável[3]

In [ ]:
exemplo = 'Araçoiaba da Serra'
len(exemplo)

exemplo[3]    # [] vai me trazer a letra correspondente a essa posição

exemplo[0:8]    # [0:8] vai me trazer ambas posições correspondentes e assim por diante, porém sempre será desconsiderado o último número, fazendo com que nesse caso o resultado seja até o 7

print(exemplo[0:8])
exemplo[0:9]    # Vai me trazer a palavra completa
exemplo[:9]     # Vai me trazer a palavra completa, pois o espaço em branco já é considerado como 0
exemplo[13:]    # Vai mostrar a frase da posição 13 em diante (todo o resto)
exemplo[1:2]    # O último dígito não é contado, precisa incluir um dígito a mais
exemplo [-1]    # apresenta o último dígito da frase
exemplo [-2]    #apresenta o penúltimo dígito da frase e assim por diante
exemplo[-5]
exemplo[-10:]    # apresenta desde o último dígito até a posição 10 contada de trás pra frente

Araçoiab

'a da Serra'

# Operadores Relacionais

In [ ]:
# @title Exercícios com Operadores Relacionais

a = 1    # a recebe o valor 1
b = 5    # b recebe o valor 5
c = 2    # c recebe o valor 2
d = 1    # d recebe o valor 1

# Teste de igualdade

a == d    # False
b > a     # True
a < b     # True
a < b     # True
b >= a    # True
a <= b    # True
d != a    # False
d != b    # True

True

In [ ]:
# @title Operadores Relacionais e Variáveis

nota = 8    # Valor da nota do aluno
media = 7    # valor da média para aprovação

aprovado = nota > media    # condição de aprovação

print(aprovado)

Você está  True

In [ ]:
media = 7

aprovado = nota > media

reprovado = nota < media

nota = float(input('Qual sua nota? '))

print(f'Você está {reprovado}' or f'Você está {aprovado}')

# resultado true para aluno aprovado e false para reprovado

Qual sua nota? 6
Você está False

# Operadores Lógicos

In [ ]:
# Exemplo de Código com Operador Lógico And

abelferreira = 7
antoniooliveira = 4

abelferreira > 3 and antoniooliveira < 8    # abel é maior que 3 e antonio menor que 7? o comando and afirma que true

True

In [ ]:
# Exemplo de Código com Operador Lógico Or
abelferreira > 9 or antoniooliveira <= 3    # abel não é maior que 9 e antonio nao é menor e igual a 3, então false

False

# Ordem dos Operadores

> Not

> And

> Or

In [ ]:
# Exemplo de Código com Operador Lógico Not

not(abelferreira > 3 and antoniooliveira < 8)    # afirma que não (false) independentemente se verdade

False

# Exercício de Aprovação do Empréstimo

Condição de aprovação: Salário > 1000 e Idade > 18.
Considerar um salário de R$ 100 e uma idade de 20 anos.

In [ ]:
# Exemplo de código de aprovação de empréstimo
# Condição de aprovação: salário > 1000 e idade > 18

salario = 100    # valor salário
idade = 20    # valor idade

print(salario > 1000 and idade > 18)    # empréstimo reprovado pois ambas condições são false

False

In [ ]:
salario = 2000    # valor salário
idade = 21    # valor idade

print(salario > 1000 and idade > 18)    # empréstimo aprovado pois ambas condições são true

True

# Estruturas de Decisão

In [ ]:
# exemplo de estrutura de decisão simples

idade = 18

if idade >= 18:    # se verdade, executa a próxima linha
    print('Você é maior de idade!')

Você é maior de idade!

In [ ]:
idade = 14

if idade >= 18:    # não é verdade
    print('Você é maior de idade!')

In [ ]:
# Exemplo de decisão simples

print('Início do Programa...\n')

idade = 16

print('A hora do teste\n')
if idade >= 18:
    print('Você é maior de idade!')
    print('Esse texto também será impresso na tela')
print('\n Fora do bloco de código')
print('\n Fim do Prograna...')

Início do Programa...

A hora do teste


 Fora do bloco de código

 Fim do Prograna...

In [ ]:
# Exemplo de Estrutura de Decisão simples

print('Início do Programa...\n')

idade = 19    # a condição é

if idade >= 18:
    print('Você é maior de idade!')    # Se verdade o resultado será esse

if idade < 18:
    print('Você é menor de idade!')     # Se mentira o resultado será esse

print('\n Fim do Programa...')

Início do Programa...

Você é maior de idade!

 Fim do Programa...

In [ ]:
# @title Decisão Composta
#Exemplo de estrutura de Decisão Composta

print('Início do programa...\n')

idade = float(input('Quantos anos tem seu carro? '))
if idade <= 3:
    print('Seu carro é novo!')    # Se verdade
else:
    print('Seu carro é velho!')    # Se falso

print('\n Fim do Programa')

Início do programa...

Quantos anos tem seu carro? 3
Seu carro é novo!

 Fim do Programa

# Exercício 1 ☕

Crie uma variável chamada idade e atribua um valor inteiro a ela.

Verifique se a idade é maior ou menor que 21 anos e imprima "Maior de idade!" de acordo com a condição.

In [ ]:
idade = 21

print('Olá usuário :)\n')

idade = int(input('Qual sua idade? '))

if idade >= 21:
    print('Voce é maior de idade!')
    print('Parabéns!')
else:
    print('Voce é menor de idade')

Olá usuário :)

Qual sua idade? 12
Voce é menor de idade

# Exercício 2 ☔

Crie duas variáveis nota1 e nota2 e atribua valores numéricos a ela.

Verifique se a média das notas é maior ou igual a 7.

Imprima "Aprovado" ou "Reprovado" de acordo com a condição.

In [ ]:
nota1 = float(input('Digite a primeira nota: '))
nota2 = float(input('Digite a segunda nota: '))

media = (nota1 + nota2) /2

if media >= 7:
    print('Aprovado :)')
else:
    print('Reprovado :(')

Digite a primeira nota: 7.3
Digite a segunda nota: 2.3
Reprovado :(

# Exercício 3 ⛲

Crie uma variável "salário" e atribua um valor numérico à ela.

Teste se salário é maior que 1000 e menor que 3700 ao mesmo tempo e exiba a mensagem correspondente.

In [ ]:
print('Início do programa...\n')

salario = float(input('Qual valor do salário? '))

if (salario >= 1000 and salario <= 3700):
    print('O salário está dentro da faixa.')

else:
    print('O salário está fora da faixa.')

print('\n Fim do Programa...')

Início do programa...

Qual valor do salário? 14
O salário está fora da faixa.

 Fim do Programa...