# Listas Compostas

> pessoas = [] com clchetes

> pessoas = list[] com função list

# exemplo de criação de lista simples

In [2]:
# @title Exemplo de criação de lista simples

alunos = []    # nossa lista vazia

print('A lista depois de criada', alunos)

alunos.append('Nathalia')    # inserindo um elemento na lista

print('A lista depois da inserção do primeiro elemento', alunos)

A lista depois de criada []
A lista depois da inserção do primeiro elemento ['Nathalia']

In [4]:
# Inserindo um outro elemento na lista

alunos.append(25)

print(alunos)

['Nathalia', '25', 25]

In [5]:
# @title Exemplo de Criação de Lista Composta

turma =  []    # outra lista vazia

turma.append(alunos[:])    #inserindo a lista em outra lista

print(turma)

[['Nathalia', '25', 25]]

In [8]:
print(turma[0][0])
print(turma[0][1])

Nathalia
25

In [11]:
# @title Completando a Lista Composta

turma.append(['Manoel', 31])
turma.append(['Zigoto', 40])

print(turma)

print(turma[0][0])
print(turma[1][1])
print(turma[2][1])

[['Nathalia', '25', 25], ['Manoel', 31], ['Zigoto', 40], ['Manoel', 31], ['Zigoto', 40]]
Nathalia
31
40

In [17]:
# Acessando os elementos da lista composta

print(turma[0][0])
print(turma[0][1])
print(turma[1][0])
print(turma[1][1])
print(turma[2][0])
print(turma[2][1])

Nathalia
25
Manoel
31
Zigoto
40

In [19]:
print(turma[0])    #primeira lista
print(turma[1])    #segunda lista
print(turma[2])    #terceira lista

['Nathalia', '25', 25]
['Manoel', 31]
['Zigoto', 40]

In [20]:
# Apagando uma lista

turma.clear()    # apagando a lista

print(turma)

[]

In [23]:
# Criando a lista de outro jeito

turma = [['Nath', 25], ['Fabbri', 60], ['Pikachu', 400]]

print(turma)

[['Nath', 25], ['Fabbri', 60], ['Pikachu', 400]]

In [24]:
# Acessando os elementos da lista

print(turma[3])    # erro, pois não existe o elemento 3, e sim os elementos 0, 1, 2

IndexError: list index out of range

In [30]:
# Iterando pelos elementos da lista

print(turma)

for pessoa in turma:
    print(f'{pessoa[0]} tem {pessoa[1]} anos')

[['Nath', 25], ['Fabbri', 60], ['Pikachu', 400]]
Nath tem 25 anos
Fabbri tem 60 anos
Pikachu tem 400 anos

In [35]:
# @title Inserindo Dados em uma Lista com Ajuda do Usuário

nave = list()    # nossa lista principal
aliens = list()    # lista auxiliar

for a in range(0, 5):
    aliens.append(str(input('Digite o nome do alien: ')))    # inserindo o nome do alien
    aliens.append(int(input('idade do alien: ')))    # inserindo a idade
    nave.append(aliens[:])    # inserindo a lista auxiliar na lista principal
    aliens.clear()    # limpando a lista auxiliar

print('Alien a bordo! :D')

print('A nossa nave tem os aliens: ', nave)

Digite o nome do alien: ET de Varginha
idade do alien: 1000
Digite o nome do alien: Lula
idade do alien: 13
Digite o nome do alien: Bolsonaro
idade do alien: 1500
Digite o nome do alien: Ciro
idade do alien: 12
Digite o nome do alien: Ze Ruela
idade do alien: 60
Alien a bordo! :D
A nossa nave tem os aliens:  [['ET de Varginha', 1000], ['Lula', 13], ['Bolsonaro', 1500], ['Ciro', 12], ['Ze Ruela', 60]]

# Altere o exercício anterior e exiba para cada alien se é maior ou menor de idade, e também, a quantidade de maiores e menores de idade

In [71]:
# 1. Inicio --> maior = 0 ; menor = 0
# 2 Criar a lista principal
# 3 Criar a lista auxiliar
# 4 Laço - pedir o nome --> incluir na lista auxiliar ; pedir a idade; --> incluir na lista auxiliar; copiar p/ lista principal
# 5 Acessar a idade
# 6 Testar se é maior ou igual que 21 anos --> variável maior ++ else variável menor ++

nave = list()    # nossa lista principal
aliens = list()    # lista auxiliar

maiorIdade = 0
menorIdade =0

for a in range(0,5):
    aliens.append(str(input('Digite o nome do alien: ')))    # inserindo o nome do alien
    aliens.append(int(input('idade do alien: ')))    # inserindo a idade
    nave.append(aliens[:])
    aliens.clear()    # limpando a lista auxiliar

for a, alien in enumerate(nave):
    if alien[1] >= 21:
        maiorIdade += 1
        print(f'Alien {a} maior de idade')
    else:
        menorIdade += 1
        print(f'Alien {a} menor de idade')

print(f'Quantidade de maiores de idade: {maiorIdade}')
print(f'Quantidade de menores de idade: {menorIdade}')

Digite o nome do alien: Ze ruela
idade do alien: 17
Digite o nome do alien: Fabbri
idade do alien: 60
Digite o nome do alien: Draconiano
idade do alien: 34000
Digite o nome do alien: Alpha Grey
idade do alien: 4000
Digite o nome do alien: reptiliano
idade do alien: 2567
Alien 0 menor de idade
Alien 1 maior de idade
Alien 2 maior de idade
Alien 3 maior de idade
Alien 4 maior de idade
Quantidade de maiores de idade: 4
Quantidade de menores de idade: 1

In [74]:
# Outro exemplo:

loja = list()
doces = list()

totalMaior = 0
totalMenor = 0

for b in range(0,5):
    doces.append(str(input('Digite o nome do doce: ')))
    doces.append(int(input('Meses de validade: ')))
    loja.append(doces[:])
    doces.clear()

for c in loja:
    if c[1] >= 6:
        totalMaior += 1
        print(f'O doce {c[0]} tem mais de 6 meses de validade')
    else:
        totalMenor += 1
        print(f'O doce {c[0]} tem menos de 6 meses de validade')

print(f'Quantidade de doces na validade : {totalMaior}')
print(f'Quantidade de doces fora da validade : {totalMenor}')

Digite o nome do doce: a
Meses de validade: 1
Digite o nome do doce: b
Meses de validade: 5
Digite o nome do doce: c
Meses de validade: 8
Digite o nome do doce: d
Meses de validade: 9
Digite o nome do doce: e
Meses de validade: 12
O doce a tem menos de 6 meses de validade
O doce b tem menos de 6 meses de validade
O doce c tem mais de 6 meses de validade
O doce d tem mais de 6 meses de validade
O doce e tem mais de 6 meses de validade
Quantidade de doces na validade : 3
Quantidade de doces fora da validade : 2

# CONTAINERS EM PYTHON - DICIONÁRIOS

Dicionários em Python são estruturas complexas.

São parecidos com tuplas e listas, pois armazenam muitos dados ao mesmo tempo.

Listas e Tuplas usam índices para acesso aos elementos.

Dicionários usam chaves para acessar os elementos

>O acesso usa uma combinação de:

 * chave - key
 * valor - value

In [76]:
# @title Definição de Tuplas, Listas e Dicionários

tupla1 = ()    # Como definir uma tupla, versão 1
tupla2 = tuple()    # Como definir uma tupla, versão 2

lista1 = []   # Como definir uma lista, versão 1
litas2 = list()    # Como definir uma lista, versão 2

dicionario1 = {}    # Como definir um dicionario, versao 1
dicionario = dict()    # Como definir um dicionario, versao 2

In [77]:
lista1.append('Nathalia')

print(lista1)

['Nathalia']

In [79]:
lista1.append('4')

print(lista1)

['Nathalia', '1', '4']

In [82]:
lista1.append('Nathalia')

print(lista1[0])
print(lista1[2])

Nathalia
4

In [83]:
# @title Criando Nosso Dicionário

aluninhos = {}     # Criando o dicionário vazio

aluninhos = {'nome': 'Nathalia', 'idade': 25, 'curso': 'Python'}    # Criando o dicionário com dados

print(aluninhos)

{'nome': 'Nathalia', 'idade': 25, 'curso': 'Python'}

In [84]:
# @title Acessando um Elemento do Dicionário

print(aluninhos['nome'])
print(aluninhos['idade'])

Nathalia
25

In [85]:
aluninhos.append('Telefone')    # método append não funciona com dicionários.

AttributeError: 'dict' object has no attribute 'append'

In [87]:
# @title Adicionando um Novo Elemento ao Dicionário

aluninhos['sexo'] = 'F'

In [88]:
print(aluninhos)

{'nome': 'Nathalia', 'idade': 25, 'curso': 'Python', 'sexo': 'F'}

In [89]:
print(aluninhos['Nome'])    # haverá erro, pois o Python não entendeque nome está com N maiúsculo.

Nathalia

In [90]:
#  @title Adicionando Outro Elemento ao Dicionário

aluninhos['bairro'] = 'Santo Amaro'

print(aluninhos)

{'nome': 'Nathalia', 'idade': 25, 'curso': 'Python', 'sexo': 'F', 'bairro': 'Santo Amaro'}

In [91]:
# @title Apagando um Elemento do Dicionário

del aluninhos['bairro']

print(aluninhos)

{'nome': 'Nathalia', 'idade': 25, 'curso': 'Python', 'sexo': 'F'}

In [94]:
# @title Trocando o Valor de um Elemento

aluninhos['nome'] = 'Nath'

print(aluninhos)

{'nome': 'Nath', 'idade': 25, 'curso': 'Python', 'sexo': 'F'}

In [97]:
# @title Acessando os Elementos do Dicionário
print(aluninhos)

print(aluninhos.keys())    # Me mostra as chaves o dicionário

print(aluninhos.values())    # Me mostra os valores do dicionário

print(aluninhos.items())    # Me mostra chave e valor do dicionário

{'nome': 'Nath', 'idade': 25, 'curso': 'Python', 'sexo': 'F'}
dict_keys(['nome', 'idade', 'curso', 'sexo'])
dict_values(['Nath', 25, 'Python', 'F'])
dict_items([('nome', 'Nath'), ('idade', 25), ('curso', 'Python'), ('sexo', 'F')])

In [100]:
# @title Percorrendo os Elementos do Dicionário

for k in aluninhos.keys():
    print(k)    # imprime apenas as chaves

    print()    # printou quebra de linha

    for v in aluninhos.values():
        print(v)    # imprime apenas os valores

        print()    # printou quebra de linha

        for k, v in aluninhos.items():
            print(k, v)    # imprime chave e valor

nome

Nath

nome Nath
idade 25
curso Python
sexo F
25

nome Nath
idade 25
curso Python
sexo F
Python

nome Nath
idade 25
curso Python
sexo F
F

nome Nath
idade 25
curso Python
sexo F
idade

Nath

nome Nath
idade 25
curso Python
sexo F
25

nome Nath
idade 25
curso Python
sexo F
Python

nome Nath
idade 25
curso Python
sexo F
F

nome Nath
idade 25
curso Python
sexo F
curso

Nath

nome Nath
idade 25
curso Python
sexo F
25

nome Nath
idade 25
curso Python
sexo F
Python

nome Nath
idade 25
curso Python
sexo F
F

nome Nath
idade 25
curso Python
sexo F
sexo

Nath

nome Nath
idade 25
curso Python
sexo F
25

nome Nath
idade 25
curso Python
sexo F
Python

nome Nath
idade 25
curso Python
sexo F
F

nome Nath
idade 25
curso Python
sexo F

# Dicionários podem pertencer a listas

Crie um dicionário chamado filme para um fã de filmes de ficção com:

Título = 'Star Wars'

Ano = 1977

Diretor = 'George Lucas'

In [101]:
filme = {'Título': 'Star Wars', 'Ano': 1977, 'Diretor': 'George Lucas'}

print(filme)

{'Título': 'Star Wars', 'Ano': 1977, 'Diretor': 'George Lucas'}

# Crie um Programa que Itera pelos Elementos do Dicionário Filme e Exibe o Conteúdo na Forma de:

O Título é Star Wars

O Ano é 1977

O Diretor é George Lucas

In [103]:
filmeextrator = list()
filmeextrator.append(filme.items())

for a, b in filmeextrator[0]:
    print(f'O {a} é {b}')

O Título é Star Wars
O Ano é 1977
O Diretor é George Lucas

# Crie uma lista chamada Locadora, que contém:

Título = 'SuperMan'

Ano = 1978

Diretor = 'Richard Donner'

Título = 'Matrix'

Ano = 1999

Diretor = 'Os irmãos Wachowsky

(incluir o fime do Star Wars também)

In [119]:
locadora.append(filme.items())

superman = {'Título': 'SuperMan', 'Ano': 1978, 'Diretor': 'Richard Donner'}
locadora.append(superman.items())

matrix = {'Título': 'Matrix', 'Ano': 1999, 'Diretor': 'As irmãs Wachowsky'}
locadora.append(matrix.items())

print(locadora)
print()

for a, b in locadora[0]:
    print(f'O {a} é {b}')
    print()

for a, b in locadora[1]:
    print(f'O {a} é {b}')
    print()

for a, b in locadora[2]:
    print(f'O {a} é {b}')
    print()

[dict_items([('Título', 'Star Wars'), ('Ano', 1977), ('Diretor', 'George Lucas')]), dict_items([('Título', 'SuperMan'), ('Ano', 1978), ('Diretor', 'Richard Donner')]), dict_items([('Título', 'Matrix'), ('Ano', 1999), ('Diretor', 'Os irmãos Wachowsky')]), dict_items([('Título', 'Star Wars'), ('Ano', 1977), ('Diretor', 'George Lucas')]), dict_items([('Título', 'SuperMan'), ('Ano', 1978), ('Diretor', 'Richard Donner')]), dict_items([('Título', 'Matrix'), ('Ano', 1999), ('Diretor', 'Os irmãos Wachowsky')]), dict_items([('Título', 'Star Wars'), ('Ano', 1977), ('Diretor', 'George Lucas')]), dict_items([('Título', 'SuperMan'), ('Ano', 1978), ('Diretor', 'Richard Donner')]), dict_items([('Título', 'Matrix'), ('Ano', 1999), ('Diretor', 'As irmãs Wachowsky')]), dict_items([('Título', 'Star Wars'), ('Ano', 1977), ('Diretor', 'George Lucas')]), dict_items([('Título', 'SuperMan'), ('Ano', 1978), ('Diretor', 'Richard Donner')]), dict_items([('Título', 'Matrix'), ('Ano', 1999), ('Diretor', 'As irmãs Wachowsky')]), dict_items([('Título', 'Star Wars'), ('Ano', 1977), ('Diretor', 'George Lucas')]), dict_items([('Título', 'SuperMan'), ('Ano', 1978), ('Diretor', 'Richard Donner')]), dict_items([('Título', 'Matrix'), ('Ano', 1999), ('Diretor', 'As irmãs Wachowsky')]), dict_items([('Título', 'Star Wars'), ('Ano', 1977), ('Diretor', 'George Lucas')]), dict_items([('Título', 'SuperMan'), ('Ano', 1978), ('Diretor', 'Richard Donner')]), dict_items([('Título', 'Matrix'), ('Ano', 1999), ('Diretor', 'As irmãs Wachowsky')]), dict_items([('Título', 'Star Wars'), ('Ano', 1977), ('Diretor', 'George Lucas')]), dict_items([('Título', 'SuperMan'), ('Ano', 1978), ('Diretor', 'Richard Donner')]), dict_items([('Título', 'Matrix'), ('Ano', 1999), ('Diretor', 'As irmãs Wachowsky')])]

O Título é Star Wars

O Ano é 1977

O Diretor é George Lucas

O Título é SuperMan

O Ano é 1978

O Diretor é Richard Donner

O Título é Matrix

O Ano é 1999

O Diretor é Os irmãos Wachowsky

# FUNÇÕES em Python

Funções em Python são usadas para economizar tempo e esforço.

Cuidam da rotinado código.

Quand um bloco de código precisa ser repetido muitas vezes, melhor criar uma função que faz isso.

Outro usoda função é esconder os detalhes da execução do código.

In [120]:
# @title Criando uma Função Simples

# Essa função exibe uma mensagem pré definida
# Essa é a definição da função

def iniciar():
    print('                              Início do Programa...                              \n')

    # para chamar a função, precisamos chamar ela, invocar a função
    # Invocar a função é feito escrevendo o nome dela seguido de parenteses

iniciar()    #invocando, chamando a função

                              Início do Programa...

In [123]:
# Criar a função terminar

def terminar():
    print( '\n                              Término do Programa...                              ')

terminar()

                              Término do Programa...

In [124]:
iniciar()
terminar()

                              Início do Programa...


                              Término do Programa...

In [132]:
# @title Função com Parâmetros

def inicio(msg):
    print(f'\n                              {msg}                              \n')

inicio('Estou com sono!! :P')

                              Estou com sono!! :P

In [134]:
# @title Uma Função que Exibe uma mensagem

def mensagem(texto):
    print(f'\n                              {texto}                              ')


mensagem('Oi!')
mensagem('Tchau!')

                              Oi!

                              Tchau!

In [139]:
# Outro Exemplo de Função

def dizer_Ola():
    print('Olá Mundo')
    print()
    print('Ainda aqui')
    print()
    print('Já estou saindo')


print('fora da função')

dizer_Ola()

fora da função
Olá Mundo

Ainda aqui

Já estou saindo

# Cuidado! A função só pode ser usada depois de criada

In [140]:
# Exemplo de tentativa de uso da função antes de ser definida

exemplo()    # só será definida após invocar a função com def, por tanto gera um erro ao ser executada

def exemplo():    # Invocando a função exemplo
    print('Função já definida...Use bem!!')

NameError: name 'exemplo' is not defined

# Função que ajuda na exibição

In [142]:
# essa função pula uma linha na saída

def pulalinha():    # função definida
    print()

mensagem('teste linha 0')
pulalinha()
mensagem('teste linha 1')

                              teste linha 0


                              teste linha 1

# Função que Retorna um Valor

In [147]:
# Declaração da Função

def somar(a, b):
    s = a + b    # assinatura da função
    return s

somar(10,4)

14

In [150]:
# Declaração de função com valores padrão

def somar(x = 0, y = 0):
    resultado = x + y
    return print(f'A soma de {x} com {y} é igual a {resultado}')

somar(5,98)
somar(10)
somar()

A soma de 5 com 98 é igual a 103
A soma de 10 com 0 é igual a 10